div.center-justified {
  text-align: justify;
  padding: 100px 200px;


}

footer {
  position:fixed;
  bottom:0;
  width:100%;
}

h1.logo-top {
  margin: 0;
  padding-bottom: 0
}

p.logo-since {
  margin:0;
  padding-top: 0;
  padding-bottom: 20px;
  font-size:20px;
}
