
/**
	Main Navigation
**/

* {
  color: black;
  font-family: "HelveticaNeue-Light";
}

.nav-sections {
  margin: 0;
  position: absolute;
  background: white;
  width: 100%;
  z-index: 4;
  top: 125px;
  left: 0; }


.nav-sections .all-category {
    color:red;
    display: none; }

.nav-open .page-wrapper {
  left: 0 !important; }

ul {
 list-style: none;
}


.navigation {
  margin: 0 auto 20px;
  background: transparent; }
  .navigation > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation > ul > li {
      margin: 0 30px !important;
      /* Links */ }
      .navigation > ul > li > a {
        list-style-type: none;

        transition: 0.4s all cubic-bezier(0.19, 1, 0.22, 1);
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        padding-bottom: 1px; }
        .navigation > ul > li > a:before {
          transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          background: green;
          width: 0; }
        .navigation > ul > li > a:hover, .navigation > ul > li > a.active {
          color: #1a1a1a; }
          .navigation > ul > li > a:hover:before, .navigation > ul > li > a.active:before {
            width: 100%; }

  .navigation .level0 {
    position: relative; }
