._3Jihw {
    position: relative;
    padding: 10px 0 10px;
    background-color: #1C4022;
    z-index: 2;
}

section {
    display: block;
    color: white;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.DDXMD {
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    max-width: 1150px;
    box-sizing: border-box;
}

._2SO38 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 42%;
    height: 30px;
    /**border-bottom: 1px solid #b4d0e8;**/
}

.FTp19 {
    margin-bottom: 7px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    height: 24px;
    width: 175px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    position: relative;
    text-align: left;
}

.nav-item {
  display: inline-block;
  margin-right: 7px;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}



a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}



.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
  }

  .d-md-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.lEG93 {
    display: inline-block;
    margin-right: 7px;
}

.LeyaZ {
    margin: 0;
    padding: 0;
    list-style: none;
}

.STI2j {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

}





audio, canvas, iframe, svg, video {
    vertical-align: middle;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}


* {
    transform-origin: 0px 0px 0px;
}

.STI2j {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

* {
    transform-origin: 0px 0px 0px;
}

.STI2j path {
    transition: fill .2s ease-out,stroke .2s ease-out;
}

._1MyPs {
    fill: white;
}

._3Q5Oq {
    stroke: white;
}

._1euU4 {
    fill: white;
}

._3aOkN {
    stroke: white;
}

.bxEFB {
    fill: white;
}

._2m_d6 {
    stroke: white;
}


a.STI2j:link {
    color: #fff;
    text-decoration: none;
}
a.STI2j:hover {
    color: #fff;
}

a._1YD42:link{
    color: #fff;
    text-decoration: none;
}
a._1YD42:hover {
    color: #fff;


h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

._21Vjh {
    width: 222px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

._2LsBn {
    width: 212px;
}

._29oGF {
  margin-top: 18px;
  color: #fffff;
  font-size: 12px;
  line-height: normal;
  font-family: Roboto,sans-serif;
  text-align: center;
}
